 # Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

exec mysql.cfg

# Required :)
start mapmanager
start spawnmanager
start sessionmanager
start fivem
start hardcap
start ghmattimysql
start debug
start baseevents
start chat
start qb-core
start connectqueue

exec resources.cfg
exec spermissions.cfg

# Activate if you have the fivem patreon
#onesync legacy true

# Voor lamba
sv_scriptHookAllowed 0

# Rcon (NIET GEBRUIKT)
#rcon_password ""

###########################
#====   [ACE PERMS]   ====#
###########################
add_ace group.admin command allow

add_principal group.admin group.user
add_principal group.superadmin group.admin
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow

add_ace group.superadmin "changeWeather" allow
add_ace group.superadmin "changeTime" allow
add_ace group.superadmin "freezeTime" allow

add_ace group.superadmin command.weather allow
add_ace group.superadmin command.time allow
add_ace group.superadmin command.freezetime allow

add_ace group.superadmin "command.hypnonema" allow
###########################
#====  [STAFF PERMS]  ====#
###########################
#### superadmin ou admin
add_principal identifier.license:CHANGE ME group.superadmin # Morais

# Language
sets locale "PT-pt"

# Tags
sets Dev "Morais"
sets tags "roleplay, rp, morais-scripts, morais, qbcore, qbus"
#sets banner_detail ""
#sets banner_connecting ""

# Name Server
set sv_hostname "QBCORE MORAIS"

# Nested configs!
# exec resources.cfg

# Loading a server icon (96x96 PNG file)
load_server_icon logo.png

# convars which can be used in scripts
set temp_convar "skrt"

set sv_displayqueue true # shows queue count in the server name '[count] server name'
# Uncomment this line if you do not want your server to be listed in the server browser.
#sv_master1 ""

# Add system admins
add_ace builtin.everyone qbcommands allow

# Add moderator group
add_principal group.moderator

#qb-admin permissions
add_ace group.admin qbadmin allow # admin can do everything

add_ace group.moderator qbadmin.join allow

add_ace group.admin resource.els-plus command.add_ace allow

add_ace group.admin command allow # allow all commands
add_principal identifier.license:CHANGE ME group.admin # Morais

add_ace group.admin command.filmpie 

# Hide player endpoints in external log output.
sv_endpointprivacy true

# License key for your server (https://keymaster.fivem.net) Required so the server doesn't work :(
sv_licenseKey CHANGE ME

# Steam web api (https://steamcommunity.com/dev/apikey) Required so the server doesn't work :(
set steam_webApiKey CHANGE ME

# Max clients (Slots)
sv_maxclients 32
