@import url(https://fonts.googleapis.com/css?family=Lato:700);
 *, *:before, *:after {
	 box-sizing: border-box;
}
 html, body {
	 background: #ecf0f100;
	 /* color: #444; */
	 font-family: 'Lato', Tahoma, Geneva, sans-serif;
	 font-size: 16px;
	 /* padding: 10px; */
}
 .set-size {
	font-size: 3em;
    position: fixed;
	bottom: 0;
	/* padding-left: 1%; */
}
.set-size2 {
	font-size: 3em;
    width: 1%;
    position: fixed;
    bottom: 5%;
}
 .charts-container:after {
	 clear: both;
	 content: '';
	 display: table;
}
 .pie-wrapper {
    height: 1em;
    width: 1em;
    float: left;
    margin: 3px;
    position: relative;
    display: none;
}
 /* .pie-wrapper:nth-child(3n + 1) {
	 clear: both;
} */
.pie-wrapper .label .smaller {
	color: #bdc3c7;
	font-size: 0.45em;
	padding-bottom: 20px;
	vertical-align: super;
}
 .pie-wrapper .pie {
	 height: 100%;
	 width: 100%;
	 /* clip: rect(0, 1em, 1em, 0.5em); */
	 left: 0;
	 position: absolute;
	 top: 0;
}
 .pie-wrapper .pie .half-circle {
    height: 95%;
    width: 95%;
	 border: 0.1em solid #3498db;
	 border-radius: 50%;
	 clip: rect(0, 0.5em, 1em, 0);
	 left: 0;
	 position: absolute;
	 top: 0;
}
 .pie-wrapper .label {
	 background: #1A1D22;
	 border-radius: 50%;
	 bottom: 0.4em;
	 color: #0da7ee;
	 cursor: default;
	 display: block;
	 font-size: 0.26em;
	 left: 0.4em;
	 line-height: 2.8em;
	 position: absolute;
	 right: 0.4em;
	 text-align: center;
	 top: 0.4em;
}
 .pie-wrapper .icon {
	 font-size: 160%;
     padding-top: 24%;
     padding-right: 4%;
	 display: inline-grid;
}
.outline {
	position: fixed;
    bottom: 4.7vh;
    left: 6.8vh;
    overflow: hidden;
    width: 15.7%;
    height: 25%;
	text-align: center;
	display: none;
    border: 5px solid rgba(255,255,255,0.2);
    border-radius: 50%;
}
.talkcircle1 {
	position: absolute;
    height: 77%;
    width: 75%;
    bottom: 10%;
    left: 12%;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 50%;
}
.talkcircle2 {
	position: absolute;
    height: 60%;
    width: 60%;
    bottom: 26%;
	left: 15%;
	border: 5px solid rgb(255, 255, 255);
    border-radius: 50%;
}
.talkcircle3 {
	position: initial;
    height: 90%;
    width: 90%;
    border: 5px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}


.money-container {
    position: absolute;
    right: 5vw;
    top: 7vh;
}

#cash {
    color: white;
}

.money-cash,.money-bank {
    display: none;
    float:right;
    font-family: 'pdown';
    font-weight: 400;
    font-size: 29px;
    color: white;
    padding: 4px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin: 0;
    margin-right: 6px;
    margin-top: 6px;
    padding: 0;
}

.money-cash {
    color: rgb(210, 210, 210);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: right;
}

.money-bank {
    color: rgb(167, 167, 167);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: right;
    top: 55px;
}

#plus-changeamount {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: right;
    color: #f0f0f0;
}

#minus-changeamount {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: right;
    color: #f0f0f0;
}

.minus {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: right;
    color: #801e1f;
}

.munnie {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: right;
    color: #277418;
}

.moneyupdate {
    float: right;
    padding-left: 0.5vw;
}

.plus {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: right;
    color: #277418;
}