/*
  Author: Lumberjacks
  Template: Safety First (Coming Soon)
  Version: 1.0
  URL: http://themeforest.net/user/Lumberjacks/
*/



/* TABLE OF CONTENTS

  1. Import section
  2. Basic styles
  3. Typography
  4. Breakpoint for high-res devices
  5. Header
  6. Home (slide #1)
  7. Subscribe (slide #2)
  8. About (slide #3)
  9. Contact (slide #4)
  10. Breakpoints

*/



/* 1. IMPORT SECTION */

  @import url("bootstrap.css");
  @import url("http://fonts.googleapis.com/css?family=Open+Sans:700italic,800,700,300,400&subset=latin,latin-ext");
  @import url("font-awesome.min.css");
  @import url("owl.carousel.css");



/* 2. BASIC STYLES */

  * {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  html, body {
    height: 100%;
  }

  body {
    font: 16px/1.5 'Open Sans', "Century Gothic", "Trebuchet MS", Helvetica, sans-serif;
    background-color: #262626;
    color: #fff;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }

  a { 
    color: #ed5565;
    transition: all 0.125s ease-in-out 0s;
    -moz-transition: all 0.125s ease-in-out 0s;
    -webkit-transition: all 0.125s ease-in-out 0s;
    -o-transition: all 0.125s ease-in-out 0s;
    -ms-transition: all 0.125s ease-in-out 0s;
  }

  a:hover {
    color: #ed5565;
  }

  a, a:hover, a:active, a:focus {
    outline: 0;
    border: 0;
    text-decoration: none;
  }

  .lj-float-left {
    float: left;
  }

  .lj-float-right {
    float: right;
  }
  
  .lj-block-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .lj-show {
    display: block !important;
  }
  
  .lj-hide {
    display: none !important;
    visibility: hidden !important;
  }

  .lj-preloader {
    background: #fff url('../img/preloader.gif') no-repeat center center;
    bottom: 0;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: hidden;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 50;
  }



/* 3. TYPOGRAPHY */

  p {
    line-height: 1.5;
  }
    
  .lj-text-uppercase {
    text-transform: uppercase;
  }

  .lj-text-center {
    text-align: center;
  }

  .lj-text-left {
    text-align: left;
  }

  .lj-text-right {
    text-align: right;
  }

  .lj-text-justify {
    text-align: justify;
  }

  .lj-text-underline {
    text-decoration: underline;
  }



/* 4. BREAKPOINT FOR HIGH-RES DEVICES */

  @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) {

      .lj-logo-1x {
      display: none !important;
    }
    
    .lj-logo-2x {
      display: block !important;
    }

  } 



/* 5. HEADER */

  header {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: transparent;
  }
  
  header > .container {
    height: 100%;
    position: relative;
  }

  .wrapper {
    width: 100%;
    height: auto;
    position: relative;
    top: 50%;
  }
  
  .lj-overlay {
    width: 100%;
    height: 100%;   
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .lj-background-repeat {
    background-repeat: repeat;
  }
  
  .lj-background-no-repeat {
    background-repeat: no-repeat;
  }
  
  .lj-overlay-none {
    display: none;
    visibility: hidden;
  }
  
  .lj-overlay-image {
    background-image: url('../img/lines.png');
    background-repeat: repeat;
  }
  
  .lj-overlay-color {
      background-color: rgba(0,0,0,0.25);
  }
  
  .lj-overlay-gradient {
    background: -moz-linear-gradient(215deg,  rgba(0,204,255,0.8) 0%, rgba(196,255,0,0.8) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(0,204,255,0.8)), color-stop(100%,rgba(196,255,0,0.8))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(215deg,  rgba(0,204,255,0.8) 0%,rgba(196,255,0,0.8) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(215deg,  rgba(0,204,255,0.8) 0%,rgba(196,255,0,0.8) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(215deg,  rgba(0,204,255,0.8) 0%,rgba(196,255,0,0.8) 100%); /* IE10+ */
    background: linear-gradient(215deg,  rgba(0,204,255,0.8) 0%,rgba(196,255,0,0.8) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ccff', endColorstr='#c4ff00',GradientType=1 ) progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/1x1.png'); /* IE6-9 fallback on horizontal gradient */
    pointer-events:none;
  }

  header.yt-background {
    background-image: url('../img/video.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: hidden;
  }
  
  .lj-logo a,
  .lj-logo img {
    width: 250px;
    height: 120px;
  }
  
  .lj-logo a {
    display: block;
  }
  
  .lj-logo img {
    vertical-align: bottom;
  }
  
  .lj-logo-1x {
    display: block;
  }
  
  .lj-logo-2x {
    display: none;
  }

  .lj-menu ul {
    list-style-type: none;
    list-style-position: inside;
    margin: 45px 0 0;
    padding: 0;
    text-align: right;
  }

  .lj-menu ul li {
    height: 30px;
    line-height: 30px;
    margin-right: 20px;
    display: inline-block;
    text-align: center;
  }

  .lj-menu ul li:last-child {
    margin-right: 0;
  }

  .lj-menu ul li a {
    display: inline-block;
    position: relative;
    padding-bottom: 1px;
    color: #fff;
    font-weight: 400;
  }

  .lj-menu ul li a:after {
    content: '';
    display: block;
    margin: auto;
    height: 1px;
    width: 0px;
    background: transparent;
    transition: width .3s ease, background-color .3s ease;
  }

  .lj-menu ul li a:hover:after,
  .lj-menu ul li a.activePage:after {
    width: 100%;
    background: #fff;
  }

  .lj-menu ul li.yt {
    margin-right: 10px;
  }

  .yt-controls a:hover {
    color: #ed5565;
  }

  .yt-controls a:hover:after {
    width: 0 !important;
    background: none !important;
  }

  .mobile .mbYTP_wrapper,
  .tablet .mbYTP_wrapper {
    z-index: 50 !important;
  }

  .mobile .yt-controls,
  .tablet .yt-controls {
    display: none;
  }

  .lj-carousel {
    margin-top: 50px;
  }



/* 6. HOME (SLIDE #1) */
  
  .lj-title h1 {
    font-size: 2.5em;
    font-weight: 300;
    color: #fff;
    margin: 0;
    word-wrap: break-word;
  }
  
  .lj-title span {
    color: #fff;
    font-weight: 700;
  }

  .lj-title-bordered {
    text-align: center;
  }

  .lj-title-bordered h1 {
    display: inline-block;
    font-size: 3em;
    line-height: 1em;
    font-weight: 800;
    color: #fff;
    letter-spacing: -1px;
    margin: 40px 0 0;
    word-break: break-word;
    border: 3px solid #fff;
    padding: 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }

  .lj-title-bordered span {
    display: block;
    font-size: 1.25em;
    color: #fff;
    font-family: Georgia, serif;
    font-style: italic;
    text-align: center;
    letter-spacing: 1px;
  }

  .lj-title-paragraph {
    margin-top: 20px;
  }

  .lj-title-paragraph p {
    color: #fff;
    margin: 0;
    font-family: Georgia, serif;
    font-style: italic;
  }

  .lj-countdown {
    color: #fff;
    margin-top: 40px;
    text-align: center;
  }

  .lj-countdown > * {
    text-align: center;
  }

  .lj-countdown div {
    display: inline-block;
  }

  .lj-countdown div span {
    width: 150px;
    display: block;     
  }

  .lj-countdown div span:first-child {
    height: 48px;
    font-family: 'Open Sans', "Century Gothic", "Trebuchet MS", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 3em;
    line-height: 48px;
  }

  .lj-countdown div span:last-child {
    height: 25px;
    font-family: Georgia, serif;
    font-style: italic;
    font-weight: 300;
    font-size: 0.9em;
    line-height: 25px;
  }

  .lj-socials {
    margin-top: 40px;
    text-align: center;
  }

  .lj-socials ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
  }

  .lj-socials li {
    display: inline-block;
    margin-right: 5px;
  }

  .lj-socials li a {
    width: 40px;
    height: 40px;
    display: inline-block;
    font-size: 1.1em;
    line-height: 40px;
    text-align: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
  }

  .lj-socials li a:hover {
    background-color: #ed5565;
    border: 1px solid #ed5565;
    color: #fff;
  }



/* 7. SUBSCRIBE (SLIDE #2) */

  .lj-subscribe-info {
    margin-top: 40px;
    text-align: center;
  }

  .lj-subscribe-info p {
    margin: 0;
    color: #fff;
    font-weight: 700;
  }

  .lj-subscribe-info p i {
    margin-left: 10px;
  }

  .lj-subscribe-form {
    margin-top: 40px;
  }

  .lj-subscribe-form form {
    width: 600px;
    margin: 0 auto;
  }

  .lj-subscribe-form input[type=text] {
    width: 65%;
    height: 60px;
    display: block;
    padding: 0 20px;      
    background-color: #fff;
    border: 1px solid #fff;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    line-height: 60px;
    color: #262626;
    float: left;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }

  .lj-subscribe-form input:focus {
    outline: 0;
  }
    
  .lj-subscribe-form input[type=submit] {
    width: 35%;
    height: 60px;
    display: block;
    padding: 0 10px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff; 
    -webkit-border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    font-weight: 700; 
    transition: all 0.125s ease-in-out 0s;
    -moz-transition: all 0.125s ease-in-out 0s;
    -webkit-transition: all 0.125s ease-in-out 0s;
    -o-transition: all 0.125s ease-in-out 0s;
    -ms-transition: all 0.125s ease-in-out 0s;
    float: right;
  }

  .lj-subscribe-form input[type=submit]:hover {
    background-color: #ed5565;
    border: 1px solid #ed5565;
    color: #fff;
  }

  .lj-subscribe-message {
    height: 2.5em;
    padding: 10px 20px;
    color: #fff;
    font-size: 0.9em;
    display: block;
    width: 100%;
    float: left;
  }

  .lj-subscribe-message i {
    margin-right: 5px;
  }

  .lj-subscribe-message .fa-warning {
    color: #ff5c5c;
  }

  .lj-subscribe-message .fa-check {
    color: #89d460;
  }  


    
/* 8. ABOUT (SLIDE #3) */

  .icons {
    background-color: #fff;
  }

  .icons > .container {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .lj-icon-box {
    padding: 0 20px;
    margin-top: 20px;
  }

  .lj-icon-box span {
    display: inline-block;
    font-size: 1.5em;
    text-align: center;
    color: #fff;
    margin-right: 15px;
  }

  .lj-icon-box span i {
    vertical-align: middle;
  }

  .lj-icon-box h3 {
    display: inline-block;
    font-weight: 700;
    font-size: 1.1em;
    word-wrap: break-word;
    color: #fff;
  }

  .lj-icon-box p {
    font-size: 0.9em;
    color: #fff;
  }

  .lj-icon-box > a {
    font-weight: 700;
    font-size: 0.85em;
    color: #262626;
    display: inline-block;
  }

  .lj-icon-box > a:hover {
    color: #ed5565; 
  }

  .lj-icon-box h3,
  .lj-icon-box p,
  .lj-icon-box > a {
    margin: 20px 0 0;
  }

  .lj-icon-box p a {
    font-weight: 700;
  }  



/* 9. CONTACT (SLIDE #4) */

  .lj-contact-message {
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    color: #fff;
    font-size: 0.9em;
    display: block;
    float: left;
    margin-top: 10px;
  }

  .lj-contact-message i {
    margin-right: 5px;
  }

  .lj-contact-message .fa-warning {
    color: #ff5c5c;
  }

  .lj-contact-message .fa-check {
    color: #89d460;
  }  

  .lj-contact-form form {
    width: 600px;
    margin: 20px auto 0;
  }

  .lj-contact-form input:focus,
  .lj-contact-form textarea:focus {
    outline: 0;
  }

  .lj-contact-form input[type=text] {
    width: 295px;
    height: 60px;
    display: block;
    padding: 0 20px;      
    background-color: #fff;
    border: 1px solid #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    line-height: 44px;
    color: #262626;
    margin-right: 10px;
    float: left;
  }

  .lj-contact-form input[type=text]#contact-email {
    margin-right: 0;
  }

  .lj-contact-form textarea {
    width: 100%;
    height: 100px;
    display: block;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #262626;
    margin-top: 10px;
    resize: vertical;
    overflow: hidden;
  }

  .lj-contact-form input[type=submit] {
    width: 200px;
    height: 60px;
    display: block;
    padding: 0 20px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-weight: 700; 
    transition: all 0.125s ease-in-out 0s;
    -moz-transition: all 0.125s ease-in-out 0s;
    -webkit-transition: all 0.125s ease-in-out 0s;
    -o-transition: all 0.125s ease-in-out 0s;
    -ms-transition: all 0.125s ease-in-out 0s;
    margin-top: 10px;
    float: right;
  }

  .lj-contact-form input[type=submit]:hover {
    background-color: #ed5565;
    border: 1px solid #ed5565;
    color: #fff;
  }



/* 10. BREAKPOINTS */

  @media (min-width: 992px) and (max-width: 1199px) {



  }

  @media (max-width: 991px) {

    /* 5. HEADER */

    .wrapper {
      position: static;
      top: 0;
      margin-top: 50px !important;
      margin-bottom: 50px;
    }

    .lj-logo a {
      margin: 0 auto;
    }

    .lj-menu ul {
      text-align: center;
    }

  }

  @media (min-width: 768px) and (max-width: 991px) {

    /* 7. SUBSCRIBE (SLIDE #2) */

    .lj-subscribe-form {
      margin-top: 20px;
    }

  }

  @media (max-width: 767px) {

    /* 5. HEADER */

    header {
      min-height: 100%;
      height: auto;
      overflow-y: auto;
    }
    
    header > .container {
      min-height: 100%;
      height: auto;
    }

    .wrapper {
      width: 100%;
      position: static;
      top: 0;
      margin-top: 50px !important;
      margin-bottom: 50px;
    }

    /* 7. SUBSCRIBE (SLIDE #2) */
      
    .lj-subscribe-title {
      text-align: center;
    }

    .lj-subscribe-form {
      margin-top: 20px;
    }

    .lj-subscribe-form form {
      width: 75%;
    }

    .lj-subscribe-form input[type=text] {
      width: 100%;
      float: none;
    }

    .lj-subscribe-form input[type=submit] {
      width: 100%;
      float: none;
      margin-top: 10px;
    }

    .lj-subscribe-message {
      margin-top: 20px;
      height: auto;
      min-height: 1.5em;
      line-height: 1.5em;
      padding: 0;
      text-align: center;
      float: none;
    }

    /* 8. ABOUT (SLIDE #3) */

    .lj-icon-box {
      text-align: center;
      margin-bottom: 50px;
    }

    .lj-icon-box:last-child {
      margin-bottom: 0;
    }

    .lj-icon-box span {
      font-size: 3em;
    }

    .lj-icon-box h3 {
      font-size: 1.3em;
    }

    .lj-icon-box p {
      font-size: 1em;
      padding: 0 20%;
    }

    .lj-icon-box > a {
      font-size: 1em;
    }

    /* 9. CONTACT (SLIDE #4) */

    .lj-contact-form form {
      width: 75%;
    }

    .lj-contact-form input[type=text] {
      width: 100%;
      margin-right: 0;
    }

    .lj-contact-form input[type=text]#contact-email {
      margin-top: 10px;
    }

    .lj-contact-form input[type=submit] {
      width: 100%;
      float: none;
    }

    .lj-contact-message {
      margin-top: 20px;
      height: auto;
      min-height: 1.5em;
      line-height: 1.5em;
      padding: 0;
      text-align: center;
      float: none;
    }

  }